<div class="jumbotron">
    <h1>Elförbrukning</h1>
    <p class="lead">...</p>
    <p>Här kan du registrera en mätarställning</p>
    @*<p>@Html.ActionLink("Registrera", "RegisterEntryView", "RegisterEntry", new { area = "" }, null)</p>*@
    <p>@Html.ActionLink("Registrera", "RegisterEntryView", "RegisterEntry", new {area = ""}, new { @class = "btn btn-primary btn-lg"})</p>
    @*<p><a href="/RegisterEntry/RegisterEntryView" class="btn btn-primary btn-lg">Registrera</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Registrera flera mätarställningar</h2>
        <p>Här kan du registrera flera mätarställningar</p>
        <p>@Html.ActionLink("Registrera flera", "RegisterEntriesView", "RegisterEntry", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
   
    <div class="col-md-4">
        <h2>Jämför</h2>
        <p>Jämför din förbrukning</p>
        <p>@Html.ActionLink("Månatlig olika år", "PeriodicView", "Periodic", new { area = ""}, new {@class = "btn btn-primary btn-lg" })</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Månatlig olika år &raquo;</a></p>*@
    </div>
</div>
