<div class="jumbotron">
    <h1>Elförbrukning</h1>
    <p class="lead">...</p>
    <p>Här kan du registrera en mätarställning</p>
    @*<p>@Html.ActionLink("Registrera", "RegisterEntryView", "RegisterEntry", new { area = "" }, null)</p>*@
    <p>@Html.ActionLink("Registrera", "RegisterEntryView", "RegisterEntry", new {area = ""}, new { @class = "btn btn-primary btn-lg"})</p>
    @*<p><a href="/RegisterEntry/RegisterEntryView" class="btn btn-primary btn-lg">Registrera</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Registrera mätarställning</h2>
        <p>Här kan du registrera en mätarställning</p>
        <p><a class="btn btn-default" href="">Registrera</a></p>
    </div>
   
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
