
@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item navbar-text">@User.Identity.Name</li>
        <li class="nav-item"><a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Logga ut</a></li>
    </ul>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Logga in</a></li>
    </ul>
}
