@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand navbar-fixed-top navbar-dark bg-dark" role="alert">
        <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#cookieInfo  .navbar-collapse"
            aria-controls="cookieInfo"
            aria-expanded="false"
            aria-label="Toggle cookie consent banner">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" role="alert" id="cookieInfo">
            <p class="navbar-text">Det här stället använder kakor.</p>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a asp-page="/Privacy" class="btn btn-info navbar-btn">Läs mer</a>
            </li>
            <li class="nav-item active">
                <button type="button" class="ml-3 btn btn-default navbar-btn" data-cookie-string="@cookieString">Godkänn</button>
            </li>
        </ul>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}